**Though 71% is not bad, its still not 80%, so i guess we've got to revisit our domain knowledge**

- There we can see that structure of the rewards matter significantly so let's visit the website and see what we can do(scrape)

<img src="images/scrape.jpg">

- As we can see above html elements containing the rewards are present in the form of distinct cards which means they can be scrapped(turns out they can be)

- While i was searching for some other things i could extract which would add value, i came across delivery dates(which is Expected month of delivery of rewards), Well putting yourself in the shoes of someone looking for backing the project for rewards that would definitely influence you opinion

- In the domain knowledge section we can see social media presence and marketing as an important factor for success(though we an get crazy and start scraping twitter, reddit etc, for the product's digital presence
- I actually found something which also could be of help, which is experience of the creator in the form of number of projects backed and number of projects created, 

<img src="images/creator_info.jpg">


- Though this can not be directly attributed to social presence but we can assume that more the experience of the creator better would be his/her skills of marketing
- So i also decided to scrape that

**To round up following are information for each project i would be scrapping**
- Rewards
- Delivery date
- Number of projects creator has previously created and has backed

- **Scripts used for scraping can be accessed [here](https://github.com/sai-krishna-msk/KickStarter/tree/master/scripts/2_additionalScrape)**
- **Following dataset is the results of scraping**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_path ='../data/notebooks/scrapped_data.csv'

In [3]:
df = pd.read_csv(data_path)

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0.1,name,rewards,delivery,creator_created,creator_backed
0,0,0,jamstik+ The SmartGuitar,"['US$ 5', 'US$ 29', 'US$ 249', 'US$ 249', 'US$...",2015-05-01,2.0,34.0
1,1,1,GreenBelly: Vertical Urban Garden,"['€5', '€20', '€50', '€100', '€500', '€1,000',...",2018-12-01,1.0,5.0
2,2,2,Personal Communicator,"['€1', '€5', '€29', '€39', '€49', '€89', '€129...",2015-04-01,NaN,NaN
3,3,3,"Fractal art. Infinitely complex, simply beaut...","['£6', '£15', '£20', '£25', '£35', '£85', '£95...",2014-05-01,5.0,2.0
4,4,4,The Brohoof Podcast,"['$1', '$5', '$10', '$15', '$25', '$35', '$50'...",2012-04-01,1.0,8.0

In [5]:
df.isnull().mean()

Unnamed: 0         0.000000
Unnamed: 0.1       0.000000
name               0.000000
rewards            0.000000
delivery           0.018834
creator_created    0.021408
creator_backed     0.021408
dtype: float64

- As we can see rewards column is present as array, but while training the model we can not give array as a value for one column, we have a choice to make here
    - We can add n number of columns to our main dataset where n is the maximum number of rewards the whole dataset has, so for projects with n-1 rewards, we can fill the nth column with zero
    - We can add columns representing the summary statistics of the data, like we can add a column representing the mean of the rewards , one for variance., for max etc
    
**Second option makes more sense to me, so let's try the second one out**
- As we have not consider currency for goal (instead we decided to add currency as a column) so to be consistent we shall ignore currency over here as well

In [6]:
import re

def getMean(x):
  

  if(x=='[]'):
    return np.nan
  else:
    
    lis=[]
    res = x.strip('][').split(', ') 
    
    for each in res:
        lis.append(int(re.sub('[^0-9]+', '', each)))

    return np.array(lis).mean()

def getMedian(x):
    if(x=='[]'):
        return np.nan
    else:
        lis=[]
        res = x.strip('][').split(', ') 
        for each in res:
            lis.append(int(re.sub('[^0-9]+', '', each)))
            
    return np.median(lis)

def getVariance(x):
    if(x=='[]'):
        return np.nan
    
    else:
        lis=[]
        res = x.strip('][').split(', ') 
        for each in res:
            lis.append(int(re.sub('[^0-9]+', '', each)))
    return np.array(lis).var()


def getSD(x):
    if(x=='[]'):
        return np.nan
    
    else:
        lis=[]
        res = x.strip('][').split(', ') 
        for each in res:
            lis.append(int(re.sub('[^0-9]+', '', each)))
    return np.std(lis)

def getMIN(x):
    if(x=='[]'):
        return np.nan
    
    else:
        lis=[]
        res = x.strip('][').split(', ') 
        for each in res:
            lis.append(int(re.sub('[^0-9]+', '', each)))
    return min(lis)


def getMAX(x):
    if(x=='[]'):
        return np.nan
    
    else:
        lis=[]
        res = x.strip('][').split(', ') 
        for each in res:
            lis.append(int(re.sub('[^0-9]+', '', each)))
    return max(lis)




def getNUM(x):
    if(x=='[]'):
        return np.nan
    
    else:
        lis=[]
        res = x.strip('][').split(', ') 
   
    return len(res)

In [7]:
df["rewards_mean"] = df["rewards"].apply(getMean)
df["rewards_median"] = df["rewards"].apply(getMedian)
df["rewards_variance"] = df["rewards"].apply(getVariance)
df["rewards_SD"] = df["rewards"].apply(getSD)
df["rewards_MIN"] = df["rewards"].apply(getMIN)
df["rewards_MAX"] = df["rewards"].apply(getMAX)
df["rewards_NUM"] = df["rewards"].apply(getNUM)

In [8]:
df.drop(['rewards', "Unnamed: 0", "Unnamed: 0.1"], axis=1 , inplace=True)

In [9]:
df.head()

,name,delivery,creator_created,creator_backed,rewards_mean,rewards_median,rewards_variance,rewards_SD,rewards_MIN,rewards_MAX,rewards_NUM
0,jamstik+ The SmartGuitar,2015-05-01,2.0,34.0,437.000000,249.0,2.788640e+05,528.075752,5.0,1899.0,17.0
1,GreenBelly: Vertical Urban Garden,2018-12-01,1.0,5.0,953.571429,100.0,2.842548e+06,1685.985753,5.0,5000.0,7.0
2,Personal Communicator,2015-04-01,NaN,NaN,587.900000,69.0,2.174201e+06,1474.517172,1.0,5000.0,10.0
3,"Fractal art. Infinitely complex, simply beaut...",2014-05-01,5.0,2.0,152.818182,85.0,7.442488e+04,272.809230,6.0,1000.0,11.0
4,The Brohoof Podcast,2012-04-01,1.0,8.0,38.100000,30.0,1.003490e+03,31.677910,1.0,100.0,10.0

**Now we will merge this dataset with our main dataset**

In [10]:
main_data_path = "C:/Users/saima/Desktop/kickstarter/CrowdFunding/Data/dataset/3_feature_engineerd_data.csv"
# data_path = "C:/Users/saima/Desktop/kickstarter/CrowdFunding/Data/dataset/2-clean-data.csv"

In [11]:
df_main = pd.read_csv(main_data_path)

- Number of Days left to deadline
- Deadline month
- Year of Deadline 
- Month of launch 
- year of launch 
- Number of characters in the description can be a valuable feature
These could also be feature of of value

In [12]:

df_main['launched_at'] = pd.to_datetime(df_main['launched_at'])
df_main['deadline'] = pd.to_datetime(df_main['deadline'])
df_main['state_changed_at'] = pd.to_datetime(df_main['state_changed_at'])

df_main.dropna(inplace=True)
df_main = df_main.reset_index().drop(['index', 'Unnamed: 0'], axis=1)


def get_blurb_length(x):
    try:
        return len(x)
    except:
        return np.nan
df_main['blurb_length'] = df_main['blurb'].apply(get_blurb_length)




df_main.sort_values("launched_at" , inplace=True)

df_main = df_main.reindex()


df_main["launched_at"]  = pd.to_datetime(df_main["launched_at"])
df_main["launch_year"]  = pd.to_datetime(df_main["launched_at"]).dt.year
df_main['launch_month'] = df_main['launched_at'].dt.month

df_main['deadline'] = pd.to_datetime(df_main['deadline'])
df_main['deadline_year'] = pd.to_datetime(df_main['deadline']).dt.year
df_main['deadline_month'] = pd.to_datetime(df_main['deadline']).dt.month



df_main['days_to_deadline'] = (df_main['deadline'] - df_main['launched_at']).dt.days

**Let us make sure their are'nt any duplicate projects present in our data**

In [13]:
df = df[~df['name'].duplicated()]

In [14]:
df_final= pd.merge(df_main,df,on='name')

In [15]:
df_final.head()

,backers_count,blurb,location_country,created_at,currency,deadline,goal,launched_at,name,pledged,...,delivery,creator_created,creator_backed,rewards_mean,rewards_median,rewards_variance,rewards_SD,rewards_MIN,rewards_MAX,rewards_NUM
0,25,This is a project to create a free iPhone app ...,the United States,2009-04-25,USD,2009-07-14,99.0,2009-04-25,Offline Wikipedia iPhone app,145.0,...,NaN,1.0,15.0,1.000000,1.0,0.000000,0.000000,1.0,1.0,1.0
1,110,Let's make the world's first crowd-funded book...,the United States,2009-04-27,USD,2009-05-16,3000.0,2009-04-28,New York Makes a Book!!,3329.0,...,NaN,1.0,0.0,15.500000,15.5,210.250000,14.500000,1.0,30.0,2.0
2,3,Help me interview people for my design-focused...,the United States,2009-04-29,USD,2009-07-04,640.0,2009-04-29,Smogr Alert Field Recording,41.0,...,NaN,1.0,58.0,256.666667,250.0,38422.222222,196.015872,20.0,500.0,3.0
3,98,I make cool icons for iPhone developers at htt...,the United States,2009-04-29,USD,2009-06-15,500.0,2009-04-29,Icons for your iPhone apps,1820.0,...,NaN,3.0,29.0,20.000000,20.0,0.000000,0.000000,20.0,20.0,1.0
4,114,"UPDATE: Shannon Powell, Walter Payton, Lucien ...",the United States,2009-04-22,USD,2009-06-05,4000.0,2009-05-01,Electronola - An electronic gumbo of New Orlea...,4100.6,...,NaN,5.0,37.0,40.200000,35.0,1174.160000,34.266018,1.0,100.0,5.0

- Just like days to deadline helped our model, days_to_delivery might also do the trick, so let us add that

In [16]:
df_final['delivery']  = pd.to_datetime(df_final['delivery'])

df_final['launched_at']  = pd.to_datetime(df_final['launched_at'])

In [17]:
df_final['days_to_delivery'] = (df_final['delivery']- df_final['launched_at']).dt.days

In [18]:
df_final['days_to_delivery']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
           ...
165001   -1550.0
165002   -2708.0
165003     -91.0
165004   -1770.0
165005    -799.0
Name: days_to_delivery, Length: 165006, dtype: float64

- This seems messed up, null values are still fine but, there are some negative  values indicating rewards were estimated to be delivered before the project even started that does not make sense
- After further investigation (cross checking with couple of projects with negative values on the web and my scraping scripts i could not come to a concrete conclusion as to why it happened may be the creator of the campaign changed or something what ever might be the reason let us replace null values and negative values with different encodings 
- Telling the model not to treat both of them the same way

In [19]:
def get_delivery_binary(x):
    
    if(pd.isna(x)):
        return -1
    elif(x<0):
        return 0
    else:
        return x



df_final['days_to_delivery'] = df_final['days_to_delivery'].apply(get_delivery_binary)

**Saving the dataset for further modeling**

In [23]:
df_final.to_csv("../data/notebooks/4_merged_data.csv")